*node_modules
*.env*
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
hasura/config.yaml
nginx.conf

postgresql

# Scripts Output Files
server/scripts/supplier_data.xlsx
server/scripts/supplier_bulk_insert_response_*
server/protected/*

/frontend/.next
/frontend/build
*.DS_Store
